<style>
    #app-test {
        border: 1px dotted aquamarine;
        padding: 15px;

    }
</style>


<div id="app-test">
    {{ message }}
</div>

<!--<script>-->

<!--    console.log(' -&#45;&#45; load app');-->

<!--    var appTest = new Vue({-->
<!--        el: '#app-test',-->
<!--        data: {-->
<!--            message: 'Привет, Vue component!'-->
<!--        },-->
<!--        created: function() {-->
<!--            console.log(" -&#45;&#45; create app-test");-->

<!--        }-->
<!--    })-->
<!--</script>-->


