<%--
  Created by IntelliJ IDEA.
  User: Dima
  Date: 18.12.2019
  Time: 10:40
  To change this template use File | Settings | File Templates.
--%>
<%@ page pageEncoding="UTF-8" contentType="text/html; charset=UTF-8" language="java" %>


<div id="app">
    {{ message }}
</div>


<div id="app-2" v-if="seen">
  <span v-bind:title="message">
    Наведи на меня курсор на пару секунд,
    чтобы увидеть динамически связанное значение title!
  </span>
    <div>
        <span>Name: {{ customer.name }}</span>
        Age: {{ customer.age }}
    </div>

    <div>
        <span>Address: {{ patient.address }}</span>
        <span>FullName: {{ patient.fullName }}</span>
    </div>
</div>


<script>

    var app = new Vue({
        el: '#app',
        data: {
            message: 'Привет, Vue!'
        }
    })


    var app2 = new Vue({
        el: '#app-2',
        data: {
            message: 'Вы загрузили эту страницу: ' + new Date().toLocaleString(),
            seen: true,
            customer: {
                name: 'Вася',
                age: 37
            },
            patient:{
                address: '',
                fullName: '',
            }

        },

        // mounted() {
        //     axios
        //         .get('/api/v1/patients/1')
        //         .then(response => (this.info = response));
        // }

        // created(){
        //     let self = this;
        //     fetch('/api/v1/patients/1').then(res => {
        //         console.log(res);
        //         return res.json();
        //     }).then(resJson => {
        //         console.log(resJson);
        //         self.test = resJson;
        //     });
        // }

        created(){
            let self  = this
            axios.get('/api/v1/patients/1')
                .then(function (response) {
                    console.log(response);
                    self.patient = {...response.data};


                })
                .catch(function (error) {
                    console.log('Ошибка! Не могу связаться с API. ' + error);
                    // self.answer = 'Ошибка! Не могу связаться с API. ' + error
                })

            // let self = this;
            // fetch('/api/v1/patients/1').then(res => {
            //     console.log(res);
            //     return res.json();
            // }).then(resJson => {
            //     console.log(resJson);
            //     self.test = resJson;
            // });
        }
    })

</script>



